<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993432471673-llr7ucc2c91rbv5r8aatlv5bbm27mc2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993432471673-llr7ucc2c91rbv5r8aatlv5bbm27mc2t</string>
	<key>API_KEY</key>
	<string>AIzaSyAeYR_y5M4z7keFsHaup_eSuiZy3OF5rWg</string>
	<key>GCM_SENDER_ID</key>
	<string>993432471673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxyone.pnvn.app</string>
	<key>PROJECT_ID</key>
	<string>pnvn-7f907</string>
	<key>STORAGE_BUCKET</key>
	<string>pnvn-7f907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993432471673:ios:408165d657f5d96344aca8</string>
</dict>
</plist>